export("assignJudges",
       "editTable", "getID", "getTalks", "mergeSSC",
       "newJudge", "newStudent", "replaceTable",
       "showName",
       "showTable", "updateStudents")
importFrom("RSQLite", "dbDisconnect",
           "dbConnect", "dbWriteTable",
           "SQLite", "dbGetQuery")
importFrom("DBI", "sqlInterpolate")
importFrom("utils", "edit", "read.csv")
