export("assignJudges",
       "editTable", "getID", "getTalks",
       "newJudge", "newStudent", "replaceTable",
       "setConfirmed", "showName",
       "showTable")
importFrom("RSQLite", "dbDisconnect",
           "dbConnect", "dbWriteTable",
           "SQLite", "dbGetQuery")
importFrom("DBI", "sqlInterpolate")
importFrom("utils", "edit")
