export("assignJudges",
       "editTable", "getTalks",
       "newJudge", "newStudent", "replaceTable", "showTable")
importFrom("RSQLite", "dbDisconnect",
           "dbConnect", "dbWriteTable",
           "SQLite", "dbGetQuery")
importFrom("DBI", "sqlInterpolate")
importFrom("utils", "edit")
